/* h1 {
    text-align: center;
  }
  #todo-list {
    width: 500px;
    margin: 60px auto;
  }
  form, .todo {
    border: 1px solid grey;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  form input {
    padding: 4px 8px;
    flex-grow: 1;
    margin-right: 16px;
  }
  .todo {
    display: flex;
    flex-direction: column;
  }
  
  button {
    font-size: 16px;
    background-color: rgb(217, 60, 35);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(173, 47, 28);
  }
  button:active {
    background-color: rgb(130,35,21);
  }
  button:focus {
    outline: 0;
  }
  input[type='text'] { font-size: 20px; font-family: monospace; }
  .todo input[type="checkbox"] {
    transform: scale(1.8) translateY(1px);
    margin: 0 16px 0 0;
    cursor: pointer;
  }
  .todo-text input {
    padding: 4px;
  }
  .todo-text {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }
  .todo-completed {
    display: flex;
    margin: 10px 0;
  }
  .todo-actions {
    display: flex;
    justify-content: space-between;
  } */

  .ShoppinApp {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  }
  .btnAddEdit {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    margin-right: 0.5rem;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    touch-action: manipulation;
  
  }
  .btnAddEdit:hover {
      background-color: initial;
      background-position: 0 0;
      color: #FF4742;
    }
  
  .btnAddEdit:focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  .appInput{
    background: linear-gradient(21deg, #10abff, #1beabd);
    width: 50%;
    border-radius: 30px;
    padding: 10px;
    margin:1rem;
  
  }
  .clearBtn {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    touch-action: manipulation;
  }
  
  .clearBtn:hover {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
  }
  .itemsComponent{
    
    background: rgb(34,143,195);
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    margin: 1rem auto 5rem auto;
    padding: 2rem;
    font-size: 24px;
    color: rgb(65, 57, 5);
    width: 50%;
    border: solid 2px black;
    border-radius: 12px;
  }
  .itemComponent{
    display:flex;
    justify-content: space-between;
    margin: 1rem;
    border-bottom: 2px solid #10abff;
    
  }
  .editBtn{
    background: linear-gradient(to bottom right, #47ef79, #FF9A5A);
      border: 0;
      border-radius: 12px;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 2.5;
      outline: transparent;
      margin-right: 0.5rem;
      padding: 0 1rem;
      text-align: center;
      text-decoration: none;
      transition: box-shadow .2s ease-in-out;
      touch-action: manipulation;
    
    }
    .editBtn:hover {
        background-color: initial;
        background-position: 0 0;
        color: #FF4742;
      }
    
    .editBtn:focus {
      box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }
  .deleteBtn{
    background: linear-gradient(to bottom right, #c70000, #a36844);
      border: 0;
      border-radius: 12px;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 2.5;
      outline: transparent;
      margin-right: 0.5rem;
      padding: 0 1rem;
      text-align: center;
      text-decoration: none;
      transition: box-shadow .2s ease-in-out;
      touch-action: manipulation;
    
    }
    .deleteBtn:hover {
        background-color: initial;
        background-position: 0 0;
        color: #FF4742;
      }
    
    .deleteBtn:focus {
      box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    }